@using Blog.Builder.Models.Templates;

<div class="container">
	<div class="row mx-auto article-google-engine-top">
		<div class="col pb-4">
			<div class="card text-center bg-transparent border-0" style="height:33px">
				<script async src="https://cse.google.com/cse.js?cx=c67a1214306f44e87" nonce="@Model.Nonce"></script>
				<div class="gcse-searchbox-only"></div>
			</div>
		</div>
	</div>
	<div class="row mx-auto">
		<div class="col-lg-8 mb-4 shadow bg-white rounded">
			<div class="container article">
				<div class="row border-end border-start border-bottom bg-light">
					<div class="col" style="text-align: center">
						<a class="btn align-middle" href="@Model.GithubCurrentPageUrl" role="button" style="text-decoration:none" target="_blank" rel="noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
								<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
							</svg>
							Edit Page
						</a>

						<a class="btn align-middle" href="@Model.GithubRepoUrl/issues/new?permalink=@Model.GithubCurrentPageUrl" role="button" style="text-decoration:none" target="_blank" rel="noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24">
								<path fill-rule="evenodd" d="M2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0zM12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zm0 13a2 2 0 100-4 2 2 0 000 4z"></path>
							</svg>
							Create Issue
						</a>

						<a class="btn align-middle" href="https://www.linkedin.com/sharing/share-offsite/?url=@Model.BlogUrl@Model.RelativeUrl" role="button" style="text-decoration:none" target="_blank" rel="noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path>
							</svg>
							Discuss
						</a>

						<a class="btn ms-4" href="/" role="button" style="text-decoration:none">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" class="mb-1" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
								<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
							</svg>
							Go Home
						</a>
					</div>  
				</div>
				<div class="row">
					<div class="col mt-3">
						<h1 class="text-center display-6">@Model.Title</h1>
					</div>  
				</div>		
				<div class="row">
					<div class="col pb-2">
						<div class="text-black-50 text-center">
							@{
								var articleDate = Model.DateModifiedText == Model.DatePublishedText
										? $"Published {Model.DatePublishedText}"
										: $"Published {Model.DatePublishedText}, modified {Model.DateModifiedText}";
							}
						  <small>by <a href="@Model.AuthorPersonalPage" rel="noopener">@Model.AuthorName</a> / @articleDate</small>
						</div>
					</div>  
				</div>	
@if ( !string.IsNullOrWhiteSpace(@Model.RelativeImageUrl) ) {
				<div class="row">
					<div class="col text-center">
						<img src="@Model.RelativeImageUrl" alt="@Model.Title"/>
					</div>
				</div>
}
				<div class="row">
					<div class="col pt-3 pb-6">
						@Model.Body
					</div>
				</div>				
				<div class="row border-end border-start border-top bg-light mt-4">
					<div class="col pt-2" style="text-align: center">
						This page is <strong>open source</strong>. Noticed a typo? Or something unclear?<br />
						<a class="btn align-middle" href="@Model.GithubCurrentPageUrl" role="button" style="text-decoration:none" target="_blank" rel="noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
								<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
							</svg>
							Edit Page
						</a>

						<a class="btn align-middle" href="@Model.GithubRepoUrl/issues/new?permalink=@Model.GithubCurrentPageUrl" role="button" style="text-decoration:none" target="_blank" rel="noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24">
								<path fill-rule="evenodd" d="M2.5 12a9.5 9.5 0 1119 0 9.5 9.5 0 01-19 0zM12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1zm0 13a2 2 0 100-4 2 2 0 000 4z"></path>
							</svg>
							Create Issue
						</a>

						<a class="btn align-middle" href="https://www.linkedin.com/sharing/share-offsite/?url=@Model.BlogUrl@Model.RelativeUrl" role="button" style="text-decoration:none" target="_blank" rel="noopener">
							<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 24 24">
								<path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"></path>
							</svg>
							Discuss
						</a>
					</div>  
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="container px-0 mx-0 right-column-container">
				@foreach(var card in @Model.RightColumnCards){
					<div class="col mb-4">
					@card
					</div>
				}
			</div>
		</div>
	</div>
		<div class="col-lg-4">
			&nbsp;
		</div>
	</div>
</div>